@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    font-family: Lexend Deca, sans-serif;
}

body {
    margin: 0;
    display: grid;
    height: 100vh;
}

.game-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* BEGIN RECHTER KANT VAN WEBSITE CSS*/

/* BEGIN SHOP CSS*/
.shop {
    margin-top: 10px ;
    max-height: 350px;
    overflow-y: auto;
    width: 325px;
    height: 320px;
    padding: 10px;
    background: lightpink;
    border-radius: 10px;
}

.shop h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.shop-button button {
    color: white;
    border: #fd4767 4px dotted;
    border-radius: 5px ;
    width: 60px;
    padding: 5px;
    background-color: #fd6c84;
}

.shop-button button:hover {
    background-color: #fd8498;
}

.shop-button span {
    font-size: 30px;
}

.shop-row-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* EIND SHOP CSS*/


/* BEGIN UPGRADES/AUTO-CLICKERS CSS*/
.upgrade {
   font-size: medium;
}
.upgrades button {
    width: 300px;
    padding: 10px;
    margin: 7px;
    border: none;
    background-color: #fd6c84;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upgrades button:hover {
    background-color: #fd8498;
}

.upgrades {
    /*transform: translateY(100%);*/
    max-height: 300px;
    overflow-y: auto;
    width: 325px;
    padding: 10px;
    background: pink;
    border-radius: 10px;
}

.cookie-place {
    font-size: medium;
}

.upgrades::-webkit-scrollbar {
    width: 10px;
}

.upgrades::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.upgrades::-webkit-scrollbar-thumb {
    background: #fd244a;
    border-radius: 10px;
}

.upgrades::-webkit-scrollbar-thumb:hover {
    background: #fd5774;
}
/* EIND UPGRADES/AUTO-CLICKERS CSS*/


.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    width: 450px;
    height: 100%;
}

/* EIND RECHTER KANT VAN WEBSITE CSS*/

/* BEGIN MIDDEN VAN WEBSITE CSS*/
.reset-game {
    width: 120px;
    padding: 3px;
    background-color: #ccad70;
    color: white;
    transition: background-color 0.2s ease;
    border-radius: 2px;
    border: none;
}

.reset-game:hover {
    background-color: #e5c88f;
}

.click-upgrades {
    transform: translateY(100%);
}

.click-upgrades button {
    width: 50px;
    height: 50px;
}

.upgrade-place {
    font-size: 25px;
}

/*EIND MIDDEN VAN WEBSITE CSS*/

/* BEGIN LINKER KANT VAN WEBSITE CSS*/
.bakery-name {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
    width: 200px;
    height: 20px;
    background-color: #d3ac5e;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


#cookie-btn {
    transform: translateY(10%);
    font-size: 50px;
    width: 250px;
    height: 250px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#cookie-btn:active {
    transform: scale(0.85);
}

.cookie {
    background-color: #fdf2dc;
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cookies {
    font-weight: 600;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cookie-score {
    font-weight: 600;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cookie-psc {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* EIND LINKER KANT VAN WEBSITE*/



