@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    font-family: Lexend Deca, sans-serif;
}

body {
    margin: 0;
    display: grid;
    height: 100vh;
}

.upgrades button {
    width: 300px;
    padding: 10px;
    margin: 7px;
    border: none;
    background-color: #575555;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.upgrades button:hover {
    background-color: #7a7878;
}

.upgrades {
    max-height: 350px;
    overflow-y: auto;
    width: 325px;
    padding: 10px;
    background: transparent;
    border-radius: 10px;
}

.upgrades::-webkit-scrollbar {
    width: 10px;
}

.upgrades::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.upgrades::-webkit-scrollbar-thumb {
    background: #d29985;
    border-radius: 10px;
}

.upgrades::-webkit-scrollbar-thumb:hover {
    background: #eab8a7;
}

.right-side {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
    background-color: #fdf2dc;
    width: 450px;
    height: 100%;
}

.cookie-place {
    font-size: medium;
}

.reset-game {
    width: 120px;
    padding: 3px;
    background-color: #ccad70;
    color: white;
    transition: background-color 0.2s ease;
    border-radius: 2px;
    border: none;
}

.reset-game:hover {
    background-color: #e5c88f;
}

.click-upgrades {
    transform: translateY(100%);
}

.click-upgrades button {
    width: 50px;
    height: 50px;
}

.upgrade-place {
    font-size: 25px;
}


#cookie-btn {
    transform: translateY(10%);
    font-size: 50px;
    width: 250px;
    height: 250px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#cookie-btn:active {
    transform: scale(0.85);
}

.cookie {
    background-color: #fdf2dc;
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cookies {
    font-weight: 600;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cookie-score {
    font-weight: 600;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cookie-psc {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.achievements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.achievements span {
    background-color: #fdf2dc;
    padding: 10px;
    border: #f3d59a solid 3px;
}

